@import "http://fonts.googleapis.com/css?family=Open+Sans:400,600'";

html, body {
  	width:100%;
  	height: 100%;
	padding:0;
	margin:0;
}
body {
	font-size: 75%;	
	font-family: 'Open Sans', sans-serif  !important;
}

@media (max-width: 710px) {
    #legend {
        display: none;
    }
}
#map
{
	width: 100%;
	height: 100%;
}
#legend
{
    position:absolute;
    z-index:999;
    left:5px;
    bottom:10px;
    opacity:0.8;
    background-color:whitesmoke;
    border:1px solid black;
    padding:5px;
}
#facilityCountContainer
{
    margin: 20px;
    font-weight:900;
}
#facilityCount
{
    border: 2px dashed #006400;
    border-radius: 36px;
    padding: 12px;
    margin: 20px;
}
#searchRadius
{
    font-size: 10px;
    font-style: oblique;
}
#mapLoading
{
    position:absolute;
    z-index:999;
    left:45%;
    top:49%;
    opacity:0.85;
    background-color:whitesmoke;
    padding:3px;
}
#mapNotice
{
    position:absolute;
    z-index:999;
    right:15px;
    bottom:40px;
    opacity:0.8;
    background-color:whitesmoke;
    padding:3px;
}
#loading
{
	width: 100%;
	height: 100%;
	opacity: 0.5;
	margin: 0;
	padding: 0;
	background: #fff url("../images/loading-big.gif") no-repeat center center;
	position: absolute;
	z-index: 999;
}
#loading-small
{
	width: 13px;
	height: 13px;
	opacity: 0.5;
	margin: 0;
	padding: 0;
	background: #fff url("../images/loading.gif") no-repeat center center;
	position: absolute;
	z-index: 999;
}
#clusterLegend
{
    background-color: rgba(110, 204, 57, 0.6);
    text-align: center;
    border-radius: 50px;
    padding:5px;
    margin-right:5px;
}
.divider
{
    border-bottom: 1px dotted darkgray;
    padding:5px;
}